html, body {
  margin: 0;
  padding: 0;
  color:white;
  
}

a:link {
  color: black;
  background-color: black;
  text-decoration: none;
}

canvas {
  display: block;
}

img {
  image-rendering: pixelated;
}
