html, body {
  margin: 0;
  padding: 0;
  color:black;
  overflow: hidden;
  
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

canvas {
  display: block;
  color:black;
}

img {
  image-rendering: pixelated;
}
